body {
	height: 100%;
}

.container {
	padding: 0 20px;
	height: 100%;
}

.dl-step {
	padding-top: 58px;
}

.dl-step .step {
	clear: both;
}

.dl-step .index {
	float: left;
	height: 36px;
	width: 36px;
	border: 2px solid #fff;
	background-color: #ffba26;
	border-radius: 50%;
	text-align: center;
	line-height: 36px;
	position: relative;
	background-clip: padding-box;
	color: #fff;
}

.dl-step .content {
	margin-left: 70px;
	border-radius: 4px;
	padding: 8px 13px 13px;
	position: relative;
}

.dl-step-1 {
	margin-bottom: 60px;
	position: relative;
}

.dl-step-1 .content {
	background-color: #ffba26;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 15px;
	color: #fff;
	padding: 0 13px;
	height: 38px;
	line-height: 38px;
}

.dl-step-1:before {
	content: "";
	display: block;
	width: 89px;
	height: 75px;
	position: absolute;
	right: 0;
	top: -56px;
	z-index: 10;
}

.dl-step-1 .index:before {
	content: "";
	display: block;
	height: 45px;
	width: 2px;
	background-color: #fff;
	position: absolute;
	top: 45px;
	left: 17px;
	border-radius: 2px;
}

.dl-step-3 .index {
	background-color: rgba(39, 41, 57, 0.2);
}

.dl-step-3 .content {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.dl-step-3 .content .tip {
	margin-bottom: 2px;
	font-size: 15px;
	color: #333;
	font-family: Microsoft Yahei;
}



.dl-devices {
	overflow: hidden;
}

.dl-devices .item {
	background-color: #ceecfb;
	width: 100%;
	float: left;
	padding: 5px 0;
}

.dl-devices .android {
	margin-left: 1px;
}

.dl-devices .name {
	float: left;
	background-color: #fff;
	padding: 0 4px;
	color: #666;
	line-height: 14px;
	font-size: 12px;
	font-family: Microsoft Yahei;
}

.dl-devices .icon {
	height: 40px;
	clear: left;
}

.dl-devices .desc {
	color: #666;
	font-size: 10px;
	text-align: center;
	font-family: Microsoft Yahei;
}

.dl-devices .ios .icon {
	background-position: center -85px;
}

.dl-devices .android .icon {
	background-position: center -131px;
}

.dl-step-3 .app {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	padding: 8px 25px;
}

.dl-step-3 .app .icon {
	padding-left: 10px;
	height: 31px;
	line-height: 31px;
	font-size: 15px;
	color: #666;
	font-family: Microsoft Yahei;
	font-weight: bold;
}

.dl-step .content:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-right-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 14px;
	left: -11px;
}

.dl-step .content:after {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	position: absolute;
	top: 13px;
	left: -10px;
}

.dl-step-1 .content:after {
	border-right-color: #ffba26;
}

.dl-step-2 .content:after,
.dl-step-3 .content:after {
	border-right-color: rgba(255, 255, 255, 0.9);
}

#world {
	padding-left: 10px;
	height: 31px;
	line-height: 31px;
	font-size: 15px;
	color: #666;
	font-family: Microsoft Yahei;
	font-weight: bold;
}

.pic{
	height: 30px;
	width: 30px;
}
